
<div class="page" id="appCadEmpregado">
 <form id="formCadUsuario" class="page-content">
  <div class="toolbar">
   <div class="toolbar-inner">
    <div class="left">
     <a v-on:click="voltaPaginaLista">
      <i class="icon icon-back"></i>
      <span class="ios-only">Back</span>
     </a>
    </div>
    <div class="title sliding">{{titulo}}</div>
    <div class="right">

    </div>
   </div>
  </div>
  <div class="block-title">Dados do empregado</div>
  <div class="list no-hairlines-md">
   <ul>
    <li>
     <div class="item-content item-input">
      <div class="item-inner">
       <div class="item-title item-label">Nome</div>
       <div class="item-input-wrap">
        <input type="text" v-model="empregado.nome" placeholder="Nome do empregado"/>
       </div>
      </div>
     </div>
    </li>
    <li>
     <div class="item-content item-input">
      <div class="item-inner">
       <div class="item-title item-label">Gênero</div>
       <div class="item-input-wrap">
        <select v-model='empregado.genero'>
         <option value='1'>Masculino</option>
         <option value='2'>Feminino</option>
         <option value='3'>Indefinido</option>
        </select>
       </div>
      </div>
     </div>
    </li>
    <li>
     <div class="item-content item-input">
      <div class="item-inner">
       <div class="item-title item-label">Nascimento</div>
       <div class="item-input-wrap">
        <input id="nascimento" type="text"
               v-model.lazy="empregado.nascimento" placeholder="Nascimento"
               v-date-picker-f7="{app:appF7}">
        <!--input type="text" id="nascimento" v-model.lazy="empregado.nascimento" placeholder="Nascimento"/-->
       </div>
      </div>
     </div>
    </li>
   </ul>
  </div>
  <div class="block-title">Chefe de seção?</div>
  <div class="list">
   <ul>
    <li>
     <label class="item-radio item-content">
      <input type="radio" name="radio" v-model='empregado.chefe' value="s" checked="checked"/>
      <i class="icon icon-radio"></i>
      <div class="item-inner">
       <div class="item-title">Sim</div>
      </div>
     </label>
    </li>
    <li>
     <label class="item-radio item-content">
      <input type="radio" name="radio" v-model='empregado.chefe' value="n"/>
      <i class="icon icon-radio"></i>
      <div class="item-inner">
       <div class="item-title">Não</div>
      </div>
     </label>
    </li>
   </ul>
  </div>
  <p class="row">
   <a
    v-on:click="salvaDados"
    class="col button button-big button-fill button-raised link ">Salvar</a>
  </p>
 </form>
</div>

<script>

 var vEmp = new Vue({
  el: '#appCadEmpregado',
  data: {
   titulo: 'Cadastro de Empregado',
   hoje: moment(new Date()).format('DD/MM/YYYY'),
   empregado: {}
  },
  methods: {
   openAlert: function () {
    var self = this.$app.dialog.alert('Hello world!');
   },
   salvaDados: function () {
    //alert(this.empregado.chefe);
    db.add(this.empregado.nome, this.empregado.nascimento, this.empregado.genero, this.empregado.chefe);
    appF7.dialog.alert('Empregado cadastrado', function () {
     appF7.methods.navega({pagina: 'paginas/empregados/lista.html', div: 'divConteudo'});
    });
   },
   voltaPaginaLista: function () {
    appF7.methods.navega({pagina: 'paginas/empregados/lista.html', div: 'divConteudo'});
   }
  },
  mounted: function () {
   
  }
 });
</script>
